*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}


body{
    background-color:rgb(196, 234, 255);
    min-height: 100vh;
    font-family:  'Inter', sans-serif ;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}


/* navigation bar decoration  */



nav ul{
    /* margin-top: 0.8%; */
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    color: #1097ea;
}



nav li:first-child{
    margin-right: auto;
}
 

/* row 1 */
.Row1{
    background-color:rgb(196, 234, 255);
}
.h1{
    text-align: start;
    max-width: 100%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 90px;
    letter-spacing: 9px;

}

.p1{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 60%;
    font-size: 25px;
    letter-spacing: 5px;

}

.p1-0{
    margin-top: 3%;
    margin-left: 5%;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 8%;
}

/* row2 */


.h2{
    max-width: 100%;
    margin-top: 10%;
    margin-left: auto;
    font-size: 80px;
    letter-spacing: 9px;
    text-align: center;
}

.p1-1{
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    margin-top: 2%;
}

.form1{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* search bar */


.search{

    --padding:14px;


    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding) ;
    border-radius: 30px;
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 10%;
    transition: background 0.5s ;
}


.search-input{
    font-size: 16px;
    font-family: sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width:600px;
}

.search:focus-within{
    background: #7cc8ec;
}

.search-input::placeholder,
.search-icon{
color: rgba(0, 0, 0, 0.5);
}


/* row 3 */

.Row3{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h4{
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 8px;
    font-family: sans-serif;
}

.h2-1{
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 12px;
    font-family: sans-serif;
}


/* image algnment */
.samosa{
   padding: 0;
   position: relative;
   float: right;
   margin-top: -15%;
   height: 800px; 
   width: 800px;
}

